html, body {
    height: 100%;
    overflow: hidden;
}
.main-content {
    height: 100%;
}
.header {
    text-align: center;
    padding-top: 10px;
    background-image: url("./img/bg5.png");
    height:120px;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    color: #202020;
}
.sub-title {
    margin-top: 10px;
    font-size: 20px;
}
.sub-title span{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #563d7c;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}